<div class='row'>
  <div class='offset-md-4 col-md-4'>
    <div id='clearance' class='sign-in'>
      <div class='card card-outline-primary'>
        <h4 class='card-header card-primary text-md-center'>
          <%= t('.title') %>
        </h4>
        <div class='card-block'>
          <%= render partial: '/sessions/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
