# Ignore bundler config
/.bundle

# Ignore all logfiles and tempfiles
/log
/tmp

# Ignore Byebug command history file
.byebug_history

# Ignore Mac OS X specific files
.DS_Store

# Ignore local environment variables config
.env
