!!! 5
%html
    %head
        %link{:href => "vk.css", :rel => "stylesheet", :type => "text/css"}
        %link{:href => "profile.css", :rel => "stylesheet", :type => "text/css"}
        %link{:href => "page.css", :rel => "stylesheet", :type => "text/css"}
        %link{:href => "unsemantic-grid-responsive.css", :rel => "stylesheet", :type => "text/css"}
        %script{:src => "adapt.min.js"}
        %title= "VK Monitor"
    %body
        .grid-container
            .grid-50
                #header_wrap2
                    #header_wrap1
                        #header
                            %h1{:id => "title"}
                                %b{:id => "profile_online_lv", :class => "fl_r"}= @json_answer["online"] == 1 ? "Online" : "Offline"
                                =@json_answer["first_name"] + " " + @json_answer["last_name"]
                #wrap_between
                #wrap3
                    #wrap2
                        #wrap1
                            #content
                                #profile
                                    %div{:id => ["profile", "narrow"], :class => ["narrow_column", "fl_l"]}
                                        #owner_photo_wrap
                                            #page_avatar
                                                %img{:src => @photo_big, :alt => @json_answer["first_name"]}
                                    %div{:id => ["profile", "wide"], :class => ["wide_column", "fl_r"]}
                                        #profile_info
                                            %h4{:class => ["simple", "page_top", "clear_fix", "ta_r"]}
                                                .page_name.fl_l.ta_l
                                                    John Doe
                                                .profile_grad.fl_r
                                                    MIT
                                            #profile_short
                                                .profile_info
                                                    .clear_fix
                                                        .label.fl_l
                                                            Имя:
                                                        .labeled.fl_l
                                                            =@json_answer["first_name"]
                                                    .clear_fix.miniblock
                                                        .label.fl_l
                                                            Фамилия:
                                                        .labeled.fl_l
                                                            =@json_answer["last_name"]
                                    %br{:class => "clear"}
