!!!
%html
	%head
		%link(href = "s.css" rel = "stylesheet" type = "text/css")
		%title= "VKontakte Monitor"
	%body
		%div(class = "box")
			- @ans.each do |key,value|
				%p= key.to_s + " = " + value.to_s