<div class='row'>
  <div class='col-md-4'>
    <div class='card card-block card-outline-info'>
      <h3 class='card-title text-md-center'>Friends</h3>
      <p class='card-text'>
        <div class='friendlist'>
          <%= render partial: 'friends/friend', collection: @friends, cached: true %>
        </div>
      </p>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='card card-block card-outline-success'>
      <h3 class='card-title text-md-center'>Added Friends</h3>
      <p class='card-text'>
        <div class='friendlist'>
          <%= render partial: 'friends/friend', collection: @added_friends, cached: true %>
        </div>
      </p>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='card card-block card-outline-danger'>
      <h3 class='card-title text-md-center'>Deleted Friends</h3>
      <p class='card-text'>
        <div class='friendlist'>
          <%= render partial: 'friends/friend', collection: @deleted_friends, cached: true %>
        </div>
      </p>
    </div>
  </div>
</div>

<%= link_to 'Back', request.referrer || watchers_path, class: 'btn btn-warning' %>
