<div class='row'>
  <div class='col-sm-4'>
    <div class='card card-block card-inverse card-info'>
      <h3 class='card-title'>Friends</h3>
      <p class='card-text'>
        <ol>
          <% @friends.each do |friend| %>
            <li><%= "(#{friend.id}) - #{friend.first_name} #{friend.last_name}" %></li>
          <% end %>
        </ol>
      </p>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='card card-block card-inverse card-success'>
      <h3 class='card-title'>Added Friends</h3>
      <p class='card-text'>
        <ol>
          <% @added_friends.each do |friend| %>
            <li><%= "(#{friend.id}) - #{friend.first_name} #{friend.last_name}" %></li>
          <% end %>
        </ol>
      </p>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='card card-block card-inverse card-danger'>
      <h3 class='card-title'>Deleted Friends</h3>
      <p class='card-text'>
        <ol>
          <% @deleted_friends.each do |friend| %>
            <li><%= "(#{friend.id}) #{friend.first_name} #{friend.last_name}" %></li>
          <% end %>
        </ol>
      </p>
    </div>
  </div>
</div>

<%= link_to 'Back', request.referrer || root_path, class: 'btn btn-warning' %>
