<div class='row'>
  <div class='col-sm-4'>
    <div class='card card-block card-inverse card-info'>
      <h3 class='card-title'>Friends</h3>
      <p class='card-text'>
        <ol>
          <%= render @friends %>
        </ol>
      </p>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='card card-block card-inverse card-success'>
      <h3 class='card-title'>Added Friends</h3>
      <p class='card-text'>
        <ol>
          <%= render @added_friends %>
        </ol>
      </p>
    </div>
  </div>
  <div class='col-sm-4'>
    <div class='card card-block card-inverse card-danger'>
      <h3 class='card-title'>Deleted Friends</h3>
      <p class='card-text'>
        <ol>
          <%= render @deleted_friends %>
        </ol>
      </p>
    </div>
  </div>
</div>

<%= link_to 'Back', request.referrer || watchers_path, class: 'btn btn-warning' %>
